
h3 {
  text-align: left;
  font-style: italic;
  color: darkblue;
  font-size: 20px;
  text-align-last: left;
}
h1 {
  background-color: white;
  height: 50px;
  text-align: left;
  margin-left: 20px;
  color:  darkblue;
  font-size: 40px;
  float: left;
}
img {
  box-shadow: 10px 10px 5px black;
  display: block;
}
p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.navbar {
  height: 50px;
  padding-left: 400px;
  padding-top: 24px;
}
.navbar li {
  
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  background: lightgrey;
  border-radius: 3px;
}

.p_small {
  text-align: left;
  margin-left: 20px;
  font-size: 10px;
  color: black;
}


.box_1 {
  
  position:absolute;
  height: 600px;
  width: 750px; 
  background: lightgrey;
  
}
.box_2 {

  position: absolute;
  top: 85px;
  right: 0;
  height: 600px;
  width: 750px; 
  background: lightgrey;

}
.box_3 {
  
  position:absolute;
  height: 600px;
  width: 1500px; 
  background: lightgrey;
  
}

.img_1 {
  position:absolute;
  width: 300px;
  height: 200px;
  margin-left: 20px;
  margin-top: 120px;
  
}
.img_2 {
  position:absolute;
  width: 400px;
  height: 300px;
  margin-left: 170px;
  margin-top: 120px;
  float: left;
}

.figure_1{
  position:absolute;
  width: 300px;
  height: 200px;
  margin-left: 40px;
  margin-top: 20px;
}
.figure_2{
  position:absolute;
  width: 300px;
  height: 200px;
  margin-left: 400px;
  margin-top: 20px;
}
.figure_3{
  position:absolute;
  width: 300px;
  height: 200px;
  margin-left: 40px;
  margin-top: 260px;
}
.border1{
  border-style: solid;
  border-width: 5px;
  padding: 10px;
  color: darkblue;
}
.figure_4{
  position:absolute;
  width: 300px;
  height: 200px;
  margin-left: 400px;
  margin-top: 260px;
}

.figure_11{
  position:absolute;
  width: 300px;
  height: 200px;
  margin-left: 250px;
  
  
}
.figure_21{
  position:absolute;
  width: 300px;
  height: 200px;
  margin-left: 950px;
}
.figure_31{
  position:absolute;
  width: 300px;
  height: 200px;
  margin-left: 250px;
  margin-top: 250px;
} 
.figure_41{
  position:absolute;
  width: 300px;
  height: 200px;
  margin-left: 950px;
  margin-top: 250px;
}


.p_1 {
  color: darkred;
  margin-left: 20px;
  text-align: left;
  font-size: 30px;
}
.p_2 {
  float: right;
  margin-top: 60px;
  text-align: left;
  width: 55%;
}
.p_3 {
  margin-top: 50px;
  margin-left: 20px;
  float:right;
  text-align: left;
  
}

.p_4 {
  margin-top: 350px;
  margin-left: 20px;
  float:right;
  text-align: left;
  
}
.p_small {
  text-align: left;
  margin-left: 20px;
  font-size: 15px;
  color: black;
}
.p_italic {
  font-style: italic;
  color: darkblue;
  font-size: 20px;
}

  
}
.align_center{
  margin-top: 370px;
  text-align: center;
  
}